@import "../../theme/variables.scss";

page-login {

    .item-inner{
        margin-left: 0px !important;
    }

    form ion-icon{
        margin-top: 20px !important;
        margin-bottom: 0px !important;
    }

}




