<ion-header>
  <ion-navbar text-center>
    <ion-title color="primary">Tu Resultado</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="contenidoCargado == false" text-center>
    <br><br>
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="contenidoCargado == true" text-center>
    <ion-card *ngFor="let item of avisos">

      <ion-card-content>
        <div *ngFor="let tema of item;let index = index">
          <h3 *ngIf="index==0">{{LoggedUser.nombre}}, {{tema.descripcion}}<br><br></h3>
          <!-- <ion-icon *ngIf="index==0" name="custom-ciudadano"></ion-icon> -->
          <div text-center>
            <img *ngIf="index==0" [src]="icon" style="width: 60px; height: 60px;" class="centerImg">
          </div>
          <br>
          <h4 *ngIf="index==0">{{tema.contenido}}<br><br></h4>
          <p>
            {{tema.subTema}}
          </p>
          <br>
        </div>
      </ion-card-content>
    </ion-card>
    <div *ngIf="editarUbicacion">
      <form [formGroup]="ticketsForm" class="formTickets" (ngSubmit)="submitDatosUsuario(ticketsForm.value)">
        <p>
          Para darte seguimiento y servicio médico
          <br>
          correcto, necesitamos que ingreses la
          <br>
          siguiente informacion
        </p>
        <ion-label class="lblJustify">Dirección</ion-label>
        <ion-textarea [value]="address" rows="6" disabled readonly>
        </ion-textarea>
        <!-- <div *ngIf="platform.is('android') || platform.is('core')">
        <input id="ticket-ubicacion" type="text" class="form-control" [(ngModel)]="address" formControlName="ubicacion"
          (keydown.enter)="$event.preventDefault()" placeholder="Buscar" autocorrect="off" autocapitalize="off"
          spellcheck="off" #search placeholder="Ubicación" class="inputMapClass" >
        </div>
        <div *ngIf="platform.is('ios')">
          <ion-searchbar [showCancelButton]="true" placeholder="Ubicación" (ionInput)="updateSearch()" [(ngModel)]="autocomplete.query"  formControlName="ubicacion" class="search"></ion-searchbar>    
          <ion-list class="listLocation">
            <ion-item *ngFor="let item2 of autocompleteItems" tappable (click)="chooseLocation(item2)">
              <ion-icon name="locate"></ion-icon>
              {{ item2 }}
            </ion-item>
          </ion-list>
        </div> -->
        <div class="mapaClass">
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
              (dragEnd)="markerDragEnd($event)"></agm-marker>
          </agm-map>
        </div>
        <ion-row>
          <ion-col col-12 class="colLeft">
            <ion-label class="lblJustify">Calle</ion-label>
            <ion-input type="text" placeholder="Calle" [value]="calle" formControlName="calle">
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class="colLeft">
            <ion-label class="lblJustify">Número</ion-label>
            <ion-input type="text" placeholder="Número exterior" [value]="numeroExterior"
              formControlName="numeroExterior">
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class="colLeft">
            <ion-label class="lblJustify">Colonia</ion-label>
            <ion-input type="text" placeholder="colonia" [value]="colonia" formControlName="colonia">
            </ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12 class="colLeft">
            <ion-label class="lblJustify">Número telefónico</ion-label>
            <ion-input type="number" maxlength="15" placeholder="Teléfono" formControlName="numeroTelefonico">
            </ion-input>
          </ion-col>
        </ion-row>

        <div padding>
          <button ion-button block type="submit" [disabled]="!ticketsForm.valid">Actualizar Datos</button>
        </div>


      </form>
    </div>

    <div padding bottom>
      <button ion-button block (click)="regresar()">Volver al inicio</button>
    </div>

  </div>
</ion-content>